<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flex</title>

    <style>
        .wrap, .top, .bottom {
            width: 100%;
        }
        .wrap {
            background-color: black;
            height: 500px;
            /* 两个要同时设定 */
            display: flex;
            flex-direction: column;
        }
        .top {
            background-color: yellow;
            height: 100px;
        }
        .bottom {
            background-color: blue;
            /* width: 100px; */
            flex: 1;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="top"></div>
        <div class="bottom"></div>
    </div>
</body>
</html>
