<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>

    <style>
        .wrap, .top, .bottom {
            width: 100%;
        }
        .wrap {
            background-color: black;
            height: 500px;
        }
        .top {
            background-color: yellow;
            height: 100px;
        }

    </style>
    <link rel="stylesheet" href="./float.css">
</head>
<body>
    <div class="wrap">
        <div class="top"></div>
        <div class="bottom"></div>
    </div>
</body>
</html>
